<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{#each articles}}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>{{this.title}}</h4>
                </div>
                <div class="panel-body">
                    <p> {{this.summary}}</p>
                    <br>
                    <button type="button" class="btn btn-danger link" href={{this.url}} target="_blank">Click for Story</button>
                    <button type="button" class="btn btn-success save" data-id={{this._id}}>Save Article</button>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>